#banner__countries{
    background-image: map-get($banners-img, banner_countries );
    @include banners-position(center);
    @media all and (max-width:768px){
        background-image: map-get($banners-img-768, banner_countries-768 );
    }
}

.h-iframe{
    height:18rem ;
}