$main_color:#90b1f7;
$btn_color:#779ff6;
$banners-img:(
    banner: url(../assets/img/banner.jpg),
    banner_plan_your_trip:url(../assets/img/banner_plan_your_trip.jpg),
    banner_contact_us:url(../assets/img/banner_contact_us.jpg)
);
$banners-img-768:(
    banner-768: url(../assets/img/banner-768.jpg),
    banner_plan_your_trip-768:url(../assets/img/banner_plan_your_trip-768.jpg),
    banner_contact_us-768:url(../assets/img/banner_contact_us.jpg)
);